name: Java CI with Maven

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: 'temurin'
          cache: maven

      - name: Build with Maven
        run: mvn -B package --file pom.xml

      - name: copy file
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.MASTER_HOST }}
          username: ${{ secrets.MASTER_USERNAME }}
          password: ${{ secrets.MASTER_PASSWORD }}
          port: ${{ secrets.MASTER_PORT }}
          source: "./target/whaple-0.0.1.jar"
          target: "${{ secrets.WHAPLE_PATH }}"
          #scp dir path deep level μ„Έν…
          strip_components: 1

  deploy:
    needs: build
    name: Delivery and Deploy
    runs-on: ubuntu-latest
    steps:
      - name: delivery and deploy
        uses: appleboy/ssh-action@v0.1.7
        with:
          host: ${{ secrets.MASTER_HOST }}
          username: ${{ secrets.MASTER_USERNAME }}
          password: ${{ secrets.MASTER_PASSWORD }}
          port: ${{ secrets.MASTER_PORT }}
          script: |
            cd ${{ secrets.WHAPLE_PATH }}
            ${{ secrets.RUN }}
